<header class="head">
  <nav>
    <ul class="menu">
      <li><a href="/">Products</a></li>
      <li><a href="/bin">Bin</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <form action="/" method="get">
    <input type="text" name="title" id="" />
    <select name="sort" id="price">
      <option value="max">max</option>
      <option value="min">min</option>
    </select>
    <button>Search</button>
  </form>
</header>
